
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f8f8;
            color: #fff;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .container {
            text-align: center;
            background-color: #000;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

   /*     h1 {
            color: #333;
        }

        p {
           color: #555;
        }
*/
        input {
            padding: 10px;
            margin: 10px 0;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        button {
            background-color: #f8c101;
          /* color: #fff; */
            padding: 10px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #45a049;
        }

        #result {
            margin-top: 20px;
            font-weight: bold;
           /* color: #333; */
        }
        
@media only screen and (min-width: 768px) {
            .container {
              font-size: 40px;
                width: 70%; /* Adjusted width for larger screens */
            }
   input {
            height: 20px;
     
   }
        }